#capital{
    font-weight: 600;
    background: green;
    color: white;
    font-size: 12px;
    padding: 1px 7px;
    border-radius: 3px;
    margin-left: 7px;
}
.grid{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-gap:40px;
}
.card-head p{
    padding: 10px;
    padding-left: 20px;
}
img{
    width: 15rem;
    height: 10rem;
}
@media screen and (max-width :992px){
    .grid{
        grid-template-columns: auto auto;
        grid-gap:20px;
        margin-right: 5%;
    }
    
}
@media screen and (max-width :576px){
    .grid{
        grid-template-columns:auto;
        grid-gap:20px;
        margin:10%;
    }
    
}
div>ul>li>span{
    font-weight:700;
}
.container{
    background-color: black;
}